.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin: 100px 50px;
  gap: 40px;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
}
@media screen and (max-width: 486px) {
  .products-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .shop-container {
    display: flex;
    flex-direction: column-reverse;
  }
}

.cart-container {
  background-color: rgba(255, 153, 0, 0.3);
  width: 100%;
  border-radius: 10px;
}
.show-one img {
  width: 250px;
}
.show-one {
  text-align: center;
}
